*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    overflow-x: hidden;
}

.hero {
    background-image: url("/assests/test.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
display: flex;
justify-content: space-between;
    height: 90vh;
    width: 100vw;
}
.hero .hero-main{
    display: flex;
    flex-direction: row;
}
.hero .hero-menu{
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 22px;
  

}
.hero .hero-menu .follow{
transform: rotate(-90deg);
color: white;
letter-spacing: 1px;
font-size: 12px;
font-weight: 800;
}

.hero .line{
    height: 90vh;
    width: 1px;
    background-color: rgb(180, 162, 162);
}


.hero .content{
    width: 60%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}
.hero .content h1{
    font-size: 5rem;
    margin-top: 2px;
    margin-bottom: 5px;

}

.hero .add-cases{
  margin: 8px 30px ;
text-transform: uppercase;
font-weight: 400;
  display: flex;
  align-items: center;
  height: max-content;
  gap: 5px;
  color: white;
}

.hero .add-cases i{
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 8px;
    border-radius: 50%;
}


        /* second part start */
.second-part{
    width: 100vw;
    margin-top: 100px;
    padding-bottom: 220px;

}        

.second-part-main{
    width: 75%;
    margin: 0 auto 0 auto;
    display: flex;
flex-direction: column;
gap: 20px;
}
.second-part-main-heading{
    color: rgb(31, 28, 28);
    font-size:40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.second-part-main-para{
    width: 80%;
    line-height: 25px;
    font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(54, 53, 53);
}

.second-part-main-products{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.second-part-main-products .product{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    font-size: 19px;
    color: rgb(78, 76, 76);
    border-right: 1px solid black;
}



    /* third part start */

    .third-part{
        width: 100vw;
        background-color: rgb(26, 24, 24);
    }
.third-part .third-main{
    width: 75%;
    height: 220vh;
    margin: 0 auto 0 auto;
    position: relative;

}

.third-part-first {
    position: absolute;
    top: -80px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.third-part-times{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  justify-content: center;
 text-align: center;



  
}

.third-part-times h3{
    font-size: 5rem;
    margin-bottom: -10PX;
}



.time div{
   margin-bottom: 15px;
  
   
}
.time div P{
    font-size: 15px;
}

.line-third{
    width: 60%;
    margin: 0 auto 0 auto;
    height: 2px;
    background-color: aqua;
}


.third-part-second{
   
   
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
text-align: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}
.third-part-second h3{
font-size: 2rem;
margin-bottom: 20px;
}

.third-products{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
}

.third-products .produ{
    position: relative;
  
    z-index: 1;
padding: 60px;
line-height: 25px;
width: 90%;
background-color: black;

& .icons img{
    display: flex;
    margin: auto;
}

}
.third-products .produ h3{
    font-size: 13px;
}
.third-products .pro .img{
    position: absolute;
    width: 20%;
    height: 20%;
    /* z-index: -1; */
    background-image: url("/assests/frame.png");
    background-size: auto;
    bottom: -40px;
    right: 100px;

}



            /*  fourth-part */

.fourth-part{
    width: 100%;
    height: 150vh;
    background-color: black;
    color: rgb(0, 0, 0);
    position: relative;
}            
.fourth-main{
    width: 75%;
    margin: 0 auto 0 auto;
}
.fourth-up{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 130px;
    position: absolute;
    top: -50px;

}

.fourth-up .card{
    width: 38%;
    padding: 80px 60px 60px 60px;

    background-color: rgb(126, 190, 153);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}
.card .para{
    line-height: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    color: rgb(53, 53, 53);
}

.card .fourth-line{
    width: 90%;
    height: 1px;
    background-color: rgb(12, 12, 12);
}
.card img{
    border-radius: 50%;
}
.card .profile{
    margin-top: 30px;
    display: flex;

    gap: 10px;
}
.profile p{
    font-size: 12px;
    color: rgb(83, 81, 81);
}

.f-up-right{
    margin-top: 100px;
    width: 30%;
    font-size: 40px;
    color: rgb(187, 183, 183);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.fourth-down .f-down-first{
    width: 90%;
    color: white;
    display: flex;
    justify-content: space-around;
}
.f-down-first h4{
    width: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}
.f-down-first p{
    width: 45%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

.team-members{
    width: 85%;
    color: white;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    bottom: -60px;
}

.member h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
}

.member p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgb(139, 137, 137);
}



    /* fifth-part */
.fifth-part{
    height: 62vh;
    width: 100vw;

}   
.fifth{
    width: 75%;
    margin: 200px auto 0 auto;
    display: flex;
    justify-content: space-around;
    color: rgb(48, 47, 47);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
.fifth h3{
    width: 40%;
    font-size: 50px

}
.compony{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    }
.icons li{
     cursor: pointer;
    list-style: none;
}
.icons {
   display: flex;
   gap: 15px;
}









        /* footer */
footer{
    width: 100vw;
    background-color: rgb(58, 66, 66);
    color: white;
}       
.foot-main{
    width: 75%;
    margin: 0 auto 0 auto;
padding-bottom: 60px;

} 
.footer-first{
padding-top: 50px;
    display: flex;

    justify-content: space-between;
}        
.icons{
    display: flex;
}


.footer-first h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;

}
.foot-second{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.foot-second p:nth-child(1){
    font-size: 50px;

}
.foot-second .get-in p{
    font-size: 16px;
    margin-bottom: 5px;
}
.foot-second .get-in .line-ff{
    width: 10%;
    height: 1px;
    background-color: green;
}

.f-last{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.line-last{
    width: 100%;
    height: 1px;
    background-color: rgb(48, 53, 53);

    margin: 40px 0 20px 0;
}
.f-last a{
    color: white;
}