*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    overflow-x: hidden;
}

.hero {
    background-image: url("/assests/test.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
display: flex;
justify-content: space-between;
    height: 90vh;
    width: 100vw;
}
.hero .hero-main{
    display: flex;
    flex-direction: row;
}
.hero .hero-menu{
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 22px;
  

}
.hero .hero-menu .follow{
transform: rotate(-90deg);
color: white;
letter-spacing: 1px;
font-size: 12px;
font-weight: 800;
}

.hero .line{
    height: 90vh;
    width: 1px;
    background-color: rgb(180, 162, 162);
}


.hero .content{
    width: 60%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}
.hero .content h1{
    font-size: 5rem;
    margin-top: 2px;
    margin-bottom: 5px;

}

.hero .add-cases{
  margin: 8px 30px ;
text-transform: uppercase;
font-weight: 400;
  display: flex;
  align-items: center;
  height: max-content;
  gap: 5px;
  color: white;
}

.hero .add-cases i{
    background-color: white;
    color: black;
    font-weight: bolder;
    padding: 8px;
    border-radius: 50%;
}


        /* second part start */
.second-part{
    width: 100vw;
    margin-top: 100px;
    padding-bottom: 220px;

}        

.second-part-main{
    width: 75%;
    margin: 0 auto 0 auto;
    display: flex;
flex-direction: column;
gap: 20px;
}
.second-part-main-heading{
    color: rgb(31, 28, 28);
    font-size:40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.second-part-main-para{
    width: 80%;
    line-height: 25px;
    font-size: 17px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(54, 53, 53);
}

.second-part-main-products{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.second-part-main-products .product{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    font-size: 19px;
    color: rgb(78, 76, 76);
    border-right: 1px solid black;
}



    /* third part start */

    .third-part{
        width: 100vw;
        background-color: rgb(26, 24, 24);
    }
.third-part .third-main{
    width: 75%;
    height: 150vh;
    margin: 0 auto 0 auto;
    position: relative;

}

.third-part-first {
    position: absolute;
    top: -80px;
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.third-part-times{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: white;
  justify-content: center;

  
}

.third-part-times h3{
    font-size: 5rem;
}



.time div{
   margin-bottom: 20px;
}